* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}
.profile {
    width: 350px;
    height: 600px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.photo {
    display: flex;
    justify-content: center;
}
.photo img{
    width: 100px;
    border-radius: 100px;
}
.name {
    display: flex;
    justify-content: center;
    color: white;
}
.london {
    display: flex;
    justify-content: center;
    color: hsl(75, 94%, 57%);
}
.bio {
    display: flex;
    justify-content: center;
    color: white;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}
button {
    width: 90%;
    height: 45px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 8px;
}
button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}