* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(29, 155, 102);
}
.profile {
    width: 300px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.photo {
    background-image: url(Screenshot\ 2025-12-25\ 122858.png);
    background-size: cover;
    width: 100%;
    height: 180px;
    background-color: rgb(95, 95, 95);
}
.johndoe {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.contact {
    width: 100%;
    height: 40px;
    flex-direction: column;
    justify-content: end;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}