* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    width: 1200px;
    height: 650px;
    border: 15px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#d1 {
    background-color: blue;
    /* grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4; */
    grid-area: 1 / 1 / 4 / 1;
}
#d2 {
    background-color: red;
    grid-column: 3;
    grid-row: 1 / 4;
}