body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading {
    border-radius: 50%;
    border: 20px solid red;
    height: 100px;
    width: 100px;
    animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
    border-bottom-color: transparent;
}

@keyframes loading {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}