form {
    width: 300px;
    height: 480px;
    border: 20px solid rgb(83, 198, 243);
    text-align: center;
}

input {
    width: 270px;
    height: 25px;
}

textarea {
    width: 270px;
    height: 70px;
}

button {
    width: 270px;
    height: 25px;
    background-color: rgb(83, 198, 243);
    border: none;
}

h1 {
    color: darkorange;
}