p {
    text-align: center;
    color: rgb(185, 133, 192);
    background-color: rgb(77, 77, 77);
}

.cssclass1 {
    text-align: center;
    color: rgb(95, 68, 99);
    background-color: rgb(0, 0, 0);
}

.cssclass2 {
    text-align: center;
    color: rgb(244, 172, 255);
    background-color: rgb(167, 167, 167);
}

#cssid {
    color: rgb(64, 99, 99);
}

/* comment */