* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(134, 134, 134);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gray {
    background-color: black;
    width: 300px;
    height: 300px;
    transition: all 1s;
}
.gray:hover {
    background-color: rgb(255, 0, 0);
    transform: /* translateY(-100px) scale(1.5) */ rotate(45deg);
    transform-origin: top left;
}